.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
    width: 380px;
    height: 40px;
    border-radius: 7px;
    
}
.titulo {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom:  10px;
}
